.vscode/settings.json
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/MonoAndroid10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/MonoTouch10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/net46/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/netcoreapp2.0/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/netstandard1.0/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/netstandard2.0/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/uap10.0.16299/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/xamarinios10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/xamarinmac20/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/xamarintvos10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/lib/xamarinwatchos10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/MonoAndroid10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/MonoTouch10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/net45/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/net46/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/netcoreapp2.0/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/netstandard1.0/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.dll
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/netstandard2.0/System.Numerics.Vectors.xml
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/uap10.0.16299/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/xamarinios10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/xamarinmac20/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/xamarintvos10/_._
WindowsFormsApp1/packages/System.Numerics.Vectors.4.5.0/ref/xamarinwatchos10/_._
WindowsFormsApp1/WindowsFormsApp1/App.config
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/log2023
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/log2023.txt
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/System.Numerics.Vectors.dll
WindowsFormsApp1/.vs/WindowsFormsApp1/v16/Server/sqlite3/db.lock
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.AssemblyReference.cache
WindowsFormsApp1/WindowsFormsApp1/WindowsFormsApp1.csproj
