.vscode/settings.json
backend/a.exe
backend/helper.hpp.gch
WindowsFormsApp1/.vs/WindowsFormsApp1/v16/.suo
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
